In [ ]:
# list type can store multiple elements as a single value
# Python identifies lists through square brackets [], with
# elements separated by commas

print ([12, 56, 47, 89])
lst1 = [12, 56, 47, 89]
print (lst1)
lst2 = [42]
print (lst2)
lst3 = []
print (lst3)

# String Operations can also be applied to lists

print ([12, 87] + [1, 2, 3])
print (5 * ['a', 'b', 'c'])
lst4 = [12, "hello"]

[12, 56, 47, 89]
[12, 56, 47, 89]
[42]
[]
[12, 87, 1, 2, 3]
['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [ ]:
# Another popular type for storing multiple values is the tuple
# Tuples are denoted by values separated by commas
# without any square brackets, but you can have round brackets

tp1 = (12, 54, 86)
print (tp1)
tp2 = (12, "hello")
print (tp2)
tp3 = (12, 53) * 3
print (tp3)
tp4 = (1, 2, 3) + ("hello", "world")
print (tp4)
tp5 = 42, 47, 63
print (tp5)
print (5 * (2 + 3) - 7)
tp6 = (15)
print (tp6)

# Tuples are simpler and more efficient than lists, but
# you can do more things with lists than with tuples

# Tuples are typically used in situations where the number
# of elements are fixed, and each position has unique significance

# For example, if I want to represent multiple students, I can
# prepare a list of students. But for each student, if I want to
# store both the ID and the name, I should use a tuple of the
# form (ID, name).

listofstudents = [(123, "Harry"), (124, "Ron"), (125, "Hermione")]
print (listofstudents)

(12, 54, 86)
(12, 'hello')
(12, 53, 12, 53, 12, 53)
(1, 2, 3, 'hello', 'world')
(42, 47, 63)
18
15
[(123, 'Harry'), (124, 'Ron'), (125, 'Hermione')]

In [ ]:
# Indexing
# After a list, we can use square brackets [] with a single integer
# inside (known as index) to access a specific element
# The index specifies how many steps to take from the first element

lst = [42, 56, 89, 74]
print (lst[2])    # 89
print (lst[0])    # 42
#print (lst[4])    # IndexError
print (lst[-1])   # 74
print (lst[-3])   # 56
print (lst[-4])   # 42
#print (lst[-5])   # IndexError

# In general, a list with N elements can be indexed from
# -N to N-1

# Indexing can also be done with tuples and strings (and some other
# Python collections) in the same manner, with []

s = "python"
print (s[2])    # t
tp = (12, 56, 78)
print (tp[1])   # 56

print ([14, 87, 63, 19][2])   # 63
print ([42][0])   # 42
#print ([75][0][1])  # TypeError
print (["hello", "world"][0][1])   # e
print (["hello"][0][1])   # e
print (["hello", "world"][1][0])   # w
print (("hello", "world")[1][0])   # w

89
42
74
56
42
t
56
63
42
e
e
w
w

In [ ]:
# In a list, you can modify individual elements
# This is NOT allowed for tuples or strings

lst = [12, 45, 63, 78]
lst[1] = 77
print (lst)

tp = (12, 45, 63, 78)
#tp[1] = 77     # TypeError

s = "python"
#s[1] = 'e'     # TypeError
lst = ["python", "hello", "world"]
# lst[0][1] = 'e'   # TypeError
lst[0] = 'e'
print (lst)
lst[0] = "pethon"   # if you really want to change that second letter to e

[12, 77, 63, 78]
['e', 'hello', 'world']

In [ ]:
# Slicing
# we can "slice off" parts of a string (or list) by adding a colon
# inside the index
# with the format stringname[START:STOP]
# where we take elements, starting from index START
# until we cross index STOP
# We do NOT take the element that crosses index STOP

# we can also leave START and/or STOP blank to denote
# a boundary of the list

#   -9876543210987654321
#   +0123456789012345678
s = "sajedimtenanulhaque"
print (s[4:7])    # dim
print (s[9:-6])   # nanu
print (s[-12:-9]) # ten
print (s[9:-10])  # [empty string]
print (s[13:-8])  # [empty string]
print (s[16:])    # que
print (s[:3])     # saj
print (s[:-12])   # sajedim
print (s[:])      # sajedimtenanulhaque
# Is there every any point in using [:]? Yes, but we'll cover that later

dim
nanu
ten


que
saj
sajedim
sajedimtenanulhaque

In [ ]:
# We can also modify the step by adding a second colon, with
# the format [START:STOP:STEP]

#   -9876543210987654321
#   +0123456789012345678
s = "sajedimtenanulhaque"

print (s[4:8:2])    # dm
print (s[2:6:3])    # ji
print (s[-8::4])    # na
print (s[:7:2])     # sjdm
print (s[::8])      # seq
print (s[9:3:-4])   # ni
print (s[:12:-3])   # ea
print (s[::-1])     # euqahlunanetmidejas

# All of this slicing applies to lists and tuples as well!

dm
ji
na
sjdm
seq
ni
ea
euqahlunanetmidejas